In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import xgboost as xgb

In [57]:
from sklearn import tree

In [90]:
df = pd.read_csv("train.csv")

In [43]:
asset_details = pd.read_csv("asset_details.csv")

In [42]:
df.info

<bound method DataFrame.info of            timestamp  Asset_ID  Count          Open          High  \
0         1514764860         2   40.0   2376.580000   2399.500000
1         1514764860         0    5.0      8.530000      8.530000
2         1514764860         1  229.0  13835.194000  14013.800000
3         1514764860         5   32.0      7.659600      7.659600
4         1514764860         7    5.0     25.920000     25.920000
...              ...       ...    ...           ...           ...
24236801  1632182400         9  775.0    157.181571    157.250000
24236802  1632182400        10   34.0   2437.065067   2438.000000
24236803  1632182400        13  380.0      0.091390      0.091527
24236804  1632182400        12  177.0      0.282168      0.282438
24236805  1632182400        11   48.0    232.695000    232.800000

                   Low         Close        Volume          VWAP    Target
0          2357.140000   2374.590000  1.923301e+01   2373.116392 -0.004218
1             8.530000      8.530000  7.838000e+01      8.530000 -0.014399
2         13666.110000  13850.176000  3.155006e+01  13827.062093 -0.014643
3             7.656700      7.657600  6.626713e+03      7.657713 -0.013922
4            25.874000     25.877000  1.210873e+02     25.891363 -0.008264
...                ...           ...           ...           ...       ...
24236801    156.700000    156.943857  4.663725e+03    156.994319       NaN
24236802   2430.226900   2432.907467  3.975460e+00   2434.818747       NaN
24236803      0.091260      0.091349  2.193732e+06      0.091388       NaN
24236804      0.281842      0.282051  1.828508e+05      0.282134       NaN
24236805    232.240000    232.275000  1.035123e+02    232.569697       NaN

[24236806 rows x 10 columns]>

In [37]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
timestamp,24236806.0,1.577120e+09,3.323350e+07,1.514765e+09,1.549011e+09,1.578372e+09,1.606198e+09,1.632182e+09
Asset_ID,24236806.0,6.292544e+00,4.091861e+00,0.000000e+00,3.000000e+00,6.000000e+00,9.000000e+00,1.300000e+01
Count,24236806.0,2.864593e+02,8.673982e+02,1.000000e+00,1.900000e+01,6.400000e+01,2.210000e+02,1.650160e+05
Open,24236806.0,1.432640e+03,6.029605e+03,1.170400e-03,2.676500e-01,1.428860e+01,2.288743e+02,6.480594e+04
High,24236806.0,1.436350e+03,6.039482e+03,1.195000e-03,2.681600e-01,1.431250e+01,2.293000e+02,6.490000e+04
Low,24236806.0,1.429568e+03,6.020261e+03,2.000000e-04,2.669000e-01,1.426300e+01,2.284200e+02,6.467053e+04
Close,24236806.0,1.432640e+03,6.029611e+03,1.171400e-03,2.676483e-01,1.428920e+01,2.288729e+02,6.480854e+04
Volume,24236806.0,2.868530e+05,2.433935e+06,-3.662812e-01,1.410725e+02,1.295415e+03,2.729764e+04,7.597554e+08
VWAP,24236797.0,NaN,NaN,-inf,2.676368e-01,1.428769e+01,2.288728e+02,inf
Target,23486468.0,7.121752e-06,5.679042e-03,-5.093509e-01,-1.694354e-03,-4.289844e-05,1.601520e-03,9.641699e-01

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [31]:
df.columns

Index(['timestamp', 'Asset_ID', 'Count', 'Open', 'High', 'Low', 'Close',
       'Volume', 'VWAP', 'Target'],
      dtype='object')

In [32]:
df.index

RangeIndex(start=0, stop=24236806, step=1)

In [ ]:
df.columns

In [ ]:
plt.figure()
sns.scatterplot(x = "High", y = "Target", data=df)