In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv("asset_details.csv")

In [18]:
df.info

<bound method DataFrame.info of                   Asset_ID    Weight
Asset_Name
Bitcoin Cash             2  2.397895
Binance Coin             0  4.304065
Bitcoin                  1  6.779922
EOS.IO                   5  1.386294
Ethereum Classic         7  2.079442
Ethereum                 6  5.894403
Litecoin                 9  2.397895
Monero                  11  1.609438
TRON                    13  1.791759
Stellar                 12  2.079442
Cardano                  3  4.406719
IOTA                     8  1.098612
Maker                   10  1.098612
Dogecoin                 4  3.555348>

In [20]:
df.describe()

       Asset_ID     Weight
count   14.0000  14.000000
mean     6.5000   2.919989
std      4.1833   1.801957
min      0.0000   1.098612
25%      3.2500   1.655018
50%      6.5000   2.238668
75%      9.7500   4.116886
max     13.0000   6.779922

In [21]:
df.head

<bound method NDFrame.head of     Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin>

In [22]:
df.keys

<bound method NDFrame.keys of     Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin>

In [12]:
df.columns

Index(['Asset_ID', 'Weight', 'Asset_Name'], dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=14, step=1)

In [15]:
df = df.set_index("Asset_Name")

In [16]:
df

                  Asset_ID    Weight
Asset_Name
Bitcoin Cash             2  2.397895
Binance Coin             0  4.304065
Bitcoin                  1  6.779922
EOS.IO                   5  1.386294
Ethereum Classic         7  2.079442
Ethereum                 6  5.894403
Litecoin                 9  2.397895
Monero                  11  1.609438
TRON                    13  1.791759
Stellar                 12  2.079442
Cardano                  3  4.406719
IOTA                     8  1.098612
Maker                   10  1.098612
Dogecoin                 4  3.555348